<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="StandardWork">

	<resultMap id="RM.StandardWork" type="com.dqs.office.model.StandardWork">
        <result property="id" column="ID"/>
        <result property="type" column="TYPE"/>
        <result property="workName" column="WORK_NAME"/>
        <result property="version" column="VERSION"/>
        <result property="author" column="AUTHOR"/>
        <result property="department" column="DEPARTMENT"/>
        <result property="submitterId" column="SUBMITTER_ID"/>
        <result property="submitTime" column="SUBMIT_TIME"/>
        <result property="status" column="STATUS"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="fileName" column="FILE_NAME"/>
        <result property="fileSize" column="FILE_SIZE"/>
        <association property="standardWorkType" column="TYPE" select="StandardWorkType.getById"></association>
        <association property="documentStatus" column="STATUS" select="DocumentStatus.getById"></association>
        <association property="submitter" column="SUBMITTER_ID" select="User.getById"></association>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="StandardWork.columns">
	    <![CDATA[
		ID,TYPE,WORK_NAME,VERSION,AUTHOR,DEPARTMENT,SUBMITTER_ID,SUBMIT_TIME,STATUS,DESCRIPTION,FILE_NAME,FILE_SIZE
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="StandardWork.insert" >
    <![CDATA[
        INSERT INTO T_STANDARD_WORK (
        	ID ,
        	TYPE ,
        	WORK_NAME ,
        	VERSION ,
        	AUTHOR ,
        	DEPARTMENT ,
        	SUBMITTER_ID ,
        	SUBMIT_TIME ,
        	STATUS ,
        	DESCRIPTION ,
        	FILE_NAME ,
        	FILE_SIZE
        ) VALUES (
        	#{id,jdbcType=DECIMAL} ,
        	#{type,jdbcType=DECIMAL} ,
        	#{workName,jdbcType=VARCHAR} ,
        	#{version,jdbcType=VARCHAR} ,
        	#{author,jdbcType=VARCHAR} ,
        	#{department,jdbcType=VARCHAR} ,
        	#{submitterId,jdbcType=DECIMAL} ,
        	#{submitTime,jdbcType=TIMESTAMP} ,
        	#{status,jdbcType=DECIMAL} ,
        	#{description,jdbcType=VARCHAR} ,
        	#{fileName,jdbcType=VARCHAR} ,
        	#{fileSize,jdbcType=DECIMAL} 
        )
    ]]>
		<!--oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL -->
			
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id">
			SELECT S_T_STANDARD_WORK.nextval  FROM DUAL 
        </selectKey>
	</insert>
    
	<update id="StandardWork.update" >
    <![CDATA[
        UPDATE T_STANDARD_WORK SET
	        TYPE = #{type,jdbcType=DECIMAL} ,
	        WORK_NAME = #{workName,jdbcType=VARCHAR} ,
	        VERSION = #{version,jdbcType=VARCHAR} ,
	        AUTHOR = #{author,jdbcType=VARCHAR} ,
	        DEPARTMENT = #{department,jdbcType=VARCHAR} ,
	        SUBMITTER_ID = #{submitterId,jdbcType=DECIMAL} ,
	        SUBMIT_TIME = #{submitTime,jdbcType=TIMESTAMP} ,
	        STATUS = #{status,jdbcType=DECIMAL} ,
	        DESCRIPTION = #{description,jdbcType=VARCHAR} ,
	        FILE_NAME = #{fileName,jdbcType=VARCHAR} ,
	        FILE_SIZE = #{fileSize,jdbcType=DECIMAL} 
        WHERE 
	        ID = #{id} 
    ]]>
	</update>

    <delete id="StandardWork.delete">
    <![CDATA[
        DELETE FROM T_STANDARD_WORK WHERE
        ID = #{id} 
    ]]>
    </delete>
    
    <select id="StandardWork.getById" resultMap="RM.StandardWork">
		SELECT <include refid="StandardWork.columns" />
	    <![CDATA[
		    FROM T_STANDARD_WORK 
	        WHERE 
		        ID = #{id} 
	    ]]>
	</select>
	<!-- 不建议,仅提供给数据量较少的基表查询 -->
	 <select id="StandardWork.findAll" resultMap="RM.StandardWork">
		SELECT <include refid="StandardWork.columns" />
	    <![CDATA[
		    FROM T_STANDARD_WORK 
	    ]]>
	</select>
	<!-- 基础代码,视情况添加状态识别 -->
	 <select id="StandardWork.baseCode" resultMap="RM.StandardWork">
		SELECT <include refid="StandardWork.columns" />
	    <![CDATA[
		    FROM T_STANDARD_WORK 
	    ]]>
	    <!-- 视情况添加where条件 -->
	</select>
	
	<sql id="StandardWork.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND ID = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(type)">
				AND TYPE = #{type}
			</if>
	       <if test="@Ognl@isNotEmpty(workName)">
				AND WORK_NAME like '%'||#{workName}||'%'
			</if>
	       <if test="@Ognl@isNotEmpty(version)">
				AND VERSION = #{version}
			</if>
	       <if test="@Ognl@isNotEmpty(author)">
				AND AUTHOR = #{author}
			</if>
	       <if test="@Ognl@isNotEmpty(department)">
				AND DEPARTMENT like '%'||#{department}||'%'
			</if>
	       <if test="@Ognl@isNotEmpty(submitterId)">
				AND SUBMITTER_ID = #{submitterId}
			</if>
	       <if test="@Ognl@isNotEmpty(submitTimeBegin)">
				AND SUBMIT_TIME >= #{submitTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(submitTimeEnd)">
				AND SUBMIT_TIME &lt;= #{submitTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(status)">
				AND STATUS = #{status}
			</if>
	       <if test="@Ognl@isNotEmpty(description)">
				AND DESCRIPTION = like '%'||#{description}||'%'
			</if>
	       <if test="@Ognl@isNotEmpty(fileName)">
				AND FILE_NAME = #{fileName}
			</if>
		</where>
	</sql>
		
    <select id="StandardWork.findPage.count" resultType="long">
        SELECT count(*) FROM T_STANDARD_WORK 
		<include refid="StandardWork.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="StandardWork.findPage" resultMap="RM.StandardWork">
    	SELECT <include refid="StandardWork.columns" />
	    FROM T_STANDARD_WORK 
		<include refid="StandardWork.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>

